.header {
    background-color: #000;
    height: 80px;
    width: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner {
    display: flex;
}

.header-logo__img {
    position: relative;
    left: 10px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav__link {
    all: unset;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #fff;
}

.header-nav__item:last-child {
    margin: 0 50px 0 15px;
}

.header-nav__button {
    all: unset;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #fff;
}

body {
    background-color: rgb(238, 238, 238);
}