.content {
    max-width: 1450px;
    margin: 60px auto;
    text-align: center;
}

.content-title {
    margin-bottom: 22px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    width: 600px;
    margin: 30px auto 5px auto;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.form-input {
    width: 600px;
    height: 45px;
    border: 1px solid #7c7c7c;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
}

.form-input:focus {
    outline: none;
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.content-error {
    color: red;
    font-size: 14px;
    width: 600px;
    margin: 0 auto 5px auto;
    margin-bottom: 10px;
    padding-left: 8px;
    text-align: left;
}

.content-error ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-button {
    width: 600px;
    height: 50px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 75px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.content-link {
    color: #4A90E2;
    text-decoration: none;
    font-size: 15px;
}