.header {
    background-color: #000;
    padding: 0 20px;
    height: 80px;
    width: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner {
    display: flex;
}

.header-logo {
    margin: 0 auto;
}

.header-logo__img {
    position: relative;
    margin-left: 10px;
}