.content {
    max-width: 1450px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-success {
    width: 900px;
    color: red;
    text-align: left;
}

.content-title {
    width: 900px;
    height: 35px;
    margin-left: 30px;
    margin-bottom: 40px;
    display: flex;
    font-size: 25px;
    position: relative;
}

.content-title::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 5px;
    height: 100%;
    border-left: 7px solid black;
}

.content-detail {
    width: 900px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 8px;
}

.content-detail__row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    letter-spacing: 0.12em;
    font-size: 14.5px;
    font-weight: 600;
}

.content-detail__label {
    display: inline-block;
    width: 250px;
    margin-right: 70px;
    padding: 0 60px;
    color: gray;
}

.content-detail__value {
    padding-top: 14px;
    padding-bottom: 10px;
    font-size: 13.5px;
    font-weight: 600;
    letter-spacing: 0.13em;
}

.content-detail__value--note {
    margin: 35px 0;
    font-size: 13.5px;
    font-weight: 600;
    letter-spacing: 0.13em;
}

.content-detail__button {
    width: 900px;
    display: flex;
    justify-content: flex-end;
}

.button--approve {
    width: 130px;
    height: 50px;
    color: white;
    background: black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.12em;
}

.button--approved {
    width: 130px;
    height: 50px;
    color: white;
    background: dimgray;
    border-radius: 5px;
    border: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.13em;
}
